<a href="https://colab.research.google.com/github/ElenaVillano/sentiment_analysis_tweets/blob/main/limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from dateutil import parser
#probando cambios desde colab

In [ ]:
# Nombramiento de columnas
col_names = ['target', # Polaridad del twet 0=negativo, 2=neutral, 4=positivo
             'ids',    # ID tweet
             'date',   # Fecha y hora del tweet
             'flag',   # QUERY
             'user',   # Usuario del tweet
             'text']   # Texto del tweet

- Variables:
        -

In [ ]:
df = pd.read_csv('../datos/trainingandtestdata/training_1600000_processed_noemoticon.csv',
                 encoding='latin-1', names=col_names)

In [ ]:
df2 = pd.read_csv('../datos/trainingandtestdata/testdata_manual_2009_06_14.csv', names=col_names)

In [ ]:
df.shape

(1600000, 6)

In [ ]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [ ]:
df.nunique()

target          2
ids       1598315
date       774363
flag            1
user       659775
text      1581466
dtype: int64

In [ ]:
df.dtypes

target     int64
ids        int64
date      object
flag      object
user      object
text      object
dtype: object

In [ ]:
def num_prop(column_data):
    # Número de observaciones por categoría
    num=pd.value_counts(column_data) 
    # Proporción de observaciones por categoría
    prop=100 * column_data.value_counts() / len(column_data)
    # Unión de columnas en una y renombramiento
    columnas_num_prop = round(pd.concat([num, prop], 
                                        keys=['num_obs_cat', 'prop_obs_cat'],
                                        axis=1),2)
    
    return columnas_num_prop

In [ ]:
num_prop(df['target'])

   num_obs_cat  prop_obs_cat
4       800000          50.0
0       800000          50.0

In [ ]:
num_prop(df2['target'])

   num_obs_cat  prop_obs_cat
4          182         36.55
0          177         35.54
2          139         27.91

In [ ]:
df['ids'].describe()

count    1.600000e+06
mean     1.998818e+09
std      1.935761e+08
min      1.467810e+09
25%      1.956916e+09
50%      2.002102e+09
75%      2.177059e+09
max      2.329206e+09
Name: ids, dtype: float64

In [ ]:
num_prop(df['flag'])

          num_obs_cat  prop_obs_cat
NO_QUERY      1600000         100.0

In [ ]:
df['user'].nunique()

659775